Flask==1.1.2
Flask-Cors==3.0.10
flask-restx==0.5.1
python-dotenv==0.19.0
kthread==0.2.2
opencv-python==4.5.3.56
Pillow
mongoengine==0.23.1
pymilvus==0.4.0
minio==7.1.0
redis==3.5.3
torch==1.9.0
torchvision==0.10.0
Unidecode==1.2.0
lap
filterpy
numba
ffmpeg-python
moviepy
scikit-image
pandas
pyyaml
matplotlib
seaborn
ffmpeg-python
imutils
vidgear
requests